<section class="main">
    <div class="container">
        <div class="main__content">
            <h1>Крупнейшая коллекция природных артефактов</h1>
            <p class="main__descr">Являясь всего лишь частью общей картины, интерактивные прототипы, которые
                представляют
                собой яркий пример
                европейского типа политической и социальной культуры.</p>
            <button class="btn-arrow">Исследовать</button>
        </div>
        <div class="main__bg">
            <img src="/img/main.jpg" alt="Крупнейшая коллекция природных артефактов">
        </div>
    </div>
</section>