:root {
    --bg-primary: #1D2F30;
    --bg-secondary: #0B1919;

    --text-primary: #899D9D;
    --text-secondary: #506829;
    --text-tertiary: #0B1919;

    --accent: #ffffff;
    --accent-secondary: #BAE249;
    --warning: #E24949;

    --btn: #BAE249;
    --btn-hover: #91AC46;
    --btn-focus: #83A440;
    --btn-active: #688B05;
    --btn-disable: #899D9D;
}